
p{
    color:blue !important;
    background-color:yellow;
    width: 100%;
}
div{
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 300px;
}
body{
    display: inline-flex;  
    flex-direction: row;
    flex-wrap: wrap;
}
h3{
    display:none;
}
@media only screen and (max-width:550px) {
    p{
        display:none;
    }
    h2{
        display:none;
    }
    h3{
        display:block;
    }
    img{
        display:none;
    }
}
h2:hover{
    -webkit-transform: scale(1,2);
    -ms-transform: scale(1,2);
    transform: scale(1,2);
}

img:active{
	filter: grayscale(1);
    border-top: 9px solid #555;
    border-right: 9px solid #555;
}
